
*,*:focus,*:hover{
  outline:none;
}

body{
  height: 100%;
}

.board{
  margin-top: 2.5rem;
  height: 100%;
}

.list-wrapper{
  display: flex;
  height: 100%;
}

.list-wrapper .list{
  height: 100%;
  min-width: 12.5rem;
  margin-right: 1rem;
}

.list-wrapper .list:last-child{
  margin-right: unset;
}
.list-wrapper .list .card{
  border-radius: 0.2rem;
  padding: 0.5rem;
  background-color: #ddd;
  margin-bottom: 0.5rem;
}

.list-wrapper .list .card .card-header{
  display: grid;
  margin-bottom: 0.5rem;
}
.list-wrapper .list .card .card-header .card-header-title{
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;

}
.list-wrapper .list .card .card-header .card-header-title:active,
.list-wrapper .list .card .card-header .card-header-title:focus {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.list-wrapper .list .card .card-contents{
  background-color: #ffffff;
  border-radius: 0.2rem;
  padding: 0.5rem;
}
.list-wrapper .list .card .card-contents{
  background-color: #ffffff;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}


.list-wrapper .list .card .card-header,
.list-wrapper .list .card .card-list {
  display: block;
}
.list-wrapper .list .card .card-add-container .btn-list-add{
  display: none;
}


.list-wrapper .list.hidden .card .card-header,
.list-wrapper .list.hidden .card .card-list,
.list-wrapper .list.hidden .card .card-add-container .btn-card-add,
.list-wrapper .list.hidden .card .card-add-container .cancel {
  display: none;
}
.list-wrapper .list.hidden .card .card-add-container .btn-list-add{
  display: block;
}

/*.list-wrapper .list.hidden .card .card-add-container .btn-list-add*/





.list-wrapper .list .card .btn-container .texarea-wrap {
  display: grid;
  margin-bottom: 0.5rem;
}
.list-wrapper .list .card .btn-container .add-card-textarea{
  border: unset;

}
.list-wrapper .list .card .btn{
  border: unset;
  border-radius: 0.2rem;
  background-color: #b5b5b5;
}
